.App {
  background-color: #997950;
  /* TODO: Adjust the height so that it always fits full screen */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#App-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  font-family: "Google Noto Sans Bold";
  z-index: 1;
  background-color: #997950;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  max-height: none;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #dccebc;
  max-width: 1700px;
  min-width: 700px;
  width: 50vw;
  min-height: 80vh;
  margin: 50px 0 60px 0;
}

.fixed-dialog {
  position: absolute;
  top: 10vh;
  left: 15vw;
  z-index: 3;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
}

#help-dialog {
  width: 70%;
  border-radius: 15%;
  background-color: #dccebc;
  border: solid 0.3em #c08a3c;
}

#help {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  max-height: 100%;
  overflow: auto;
}

#help-short {
  font-size: 1.5em;
  border-bottom: 1px solid gray;
  padding: 1em;
}

#help-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 60%;
  overflow: hidden;
}

#help-navigation {
  display: flex;
  margin: 1.5em;
  margin-right: 3em;
  max-height: 100%;
}

.help-links {
  margin: 1em;
}

.help-links:hover {
  cursor: pointer;
  color: #997950;
}

#help-content {
  margin: 1em;
  margin-top: 2em;
  font-size: 0.6em;
  padding: 1em;
  width: 60%;
  max-height: 100%;
  overflow-y: auto;
  white-space: pre-line;
}

.hidden {
  display: none;
}